<% provide(:title, "Search Your WorkSpace") %>
<h2>Join the Slack WorkSpace <span>Workspace Name　</span></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(:workspace, url: "#") do |f| %>
      <%= f.label :name, "Full Name:" %>
      <%= f.text_field :name, class: "form-control" %>    
      <%= f.label :password, "Password(required):" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Join", class:"btn btn-primary btn-lg btn-block" %>
      <% end %>
  </div>
  </div>